@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Exo", sans-serif;
}
.animate-ping {
  z-index: -10;
}
.swiper-pagination-bullet {
  background: hsl(219, 4%, 55%) !important;
}
.swiper-pagination-bullet-active {
  background: hsl(219, 69%, 56%) !important;
}
.active-fc {
  background: hsl(219, 69%, 56%) !important;
}
.show-scroll {
  bottom: 15%;
}
